.container {
  padding: 0 48px;
  display: grid;
  gap: 32px;

  &:not(:has(.cartTitle)) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.cartTitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.storeLink {
  font-size: initial;
  color: #06c;
  text-decoration: underline;
}

.cartList,
.panelRight {
  font-size: 1rem;
}

.cartList {
  display: grid;
  gap: 32px;
}

.btn {
  display: block;
  text-align: center;
  padding: 11px 21px;
  border-radius: 10px;
  background-color: var(--primary-bg-link);
  color: var(--primary-text-link);

  &:hover {
    background-color: var(--primary-bg-link-hover);
  }
}

@media (width >= 48rem) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .cartList {
    font-size: 0.75rem;
  }

  .panelRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
