.navContainer:has(.nav:not(:only-child)) + .loadingOrError > * {
  animation: none;
}

.nav {
  display: flex;
  margin: auto;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.navBrand {
  padding: 0 16px;
  font-weight: 600;
}

.navList,
.mobileNavList {
  display: flex;
}

.navItem,
.navLink,
.navBrand {
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink,
.navBrand,
.mobileNavLink {
  &:hover {
    color: var(--text-color-hover);
  }
}

.desktopMenu {
  display: none;
}

.mobileNavList {
  flex-direction: column;
}

.mobileNavItem {
  line-height: 1.65;
  font-weight: 600;
}

.mobileNavLink {
  padding: 4px 48px;
  display: block;
  width: 100%;
}

.subPageMain,
.loadingOrError {
  margin: 0 22px;
}

.loadingOrError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 48px);
}

@media (width >= 48rem) {
  .navContainer:has(.nav:not(:only-child)) {
    background-color: var(--secondary-bg-color);
  }

  .nav {
    padding: 0 14px;

    > .navList {
      display: contents;
    }
  }

  .hamburgerMenu {
    display: none;
  }

  .navButton {
    width: 100%;
  }

  .navLink,
  .navButton,
  .navBrand {
    padding: 0 8px;
  }
}

@media (width >= 64rem) {
  .subPageMain {
    margin-inline: calc(-268.46154px + 28.36538vw);
  }
}

@media (width >= 96rem) {
  .subPageMain {
    margin: 0 140px;
  }
}
