.mobileMenu {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: var(--secondary-bg-color);
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
}

.closeButton {
  align-self: flex-end;
}

@media (width >= 48rem) {
  .mobileMenu {
    display: none;
  }
}
