.searchPanel {
  padding: 0 48px;
}

.searchForm {
  display: flex;
}

.searchInput {
  width: 100%;
  font-weight: 600;
  display: block;
  border: none;
  outline: none;
  padding: 0;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

.searchButton {
  flex-shrink: 0;
  width: 38px;

  &:disabled {
    cursor: auto;
  }

  &:last-child {
    order: -1;
  }
}

.searchResults,
.heading {
  font-size: 1rem;
  font-weight: 700;
}

.searchResults {
  margin-top: 49px;
  color: var(--secondary-text-color);
}

.heading {
  font-weight: 400;
  margin-bottom: 9px;
}

.resultList {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.resultLink {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 4px 0;
  line-height: 26px;
}

.arrow {
  width: 13px;
  height: auto;
  flex-shrink: 0;
}

@media (width >= 48rem) {
  .searchResults,
  .heading {
    font-size: 0.75rem;
  }

  .resultLink {
    line-height: 1.33;
    gap: 11px;
  }

  .arrow {
    width: 9px;
  }
}
