.header {
  padding: 56px 0 24px;

  > * {
    display: inline;
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-text-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
